<div class="center header">
			
	<img src="assets/logo.png">

		<div class="pure-menu pure-menu-open pure-menu-horizontal sansserif">
		    <ul>

		        <li><%= link_to "STORIES", stories_path %></li>
		        <li><%= link_to "MISSION", mission_path %></li>
		        <li><%= link_to "ABOUT", about_path %></li>
		        <li><%= link_to "CONTACT", contact_path %></li>

		    </ul>
		</div>



</div>