<div class="content-wrapper">
<p>

<strong>Brief.</strong> was started at Queen Mary University of London as a reaction to what we thought was informative, yet too intricate news that we were seeing from major news agencies.
<br />
<br />
At Brief. we take what we think are important articles from trusted news outlets like CNN, The Times, The Guardian or Al Jazeera and shrink them into articles no longer than 150 words every Monday, Wednesday and Friday. 
<br />
<br />
Currently we are briefing about 6 articles a day with hopes to increase this number to 8 shortly. As it is not in Brief.’s philosophy to drown readers in current events this number is unlikely to move up far beyond 16. We are always looking for suggestions and we are always looking for new people; so please do get in touch with us at our ‘Contact’ page if you would like to join the team. 

</div>