<%= render "header" %>

<div class="content-wrapper center">

	<p>Administrative Privileges. Use wisely.</p>
<%= link_to 'New Article', new_article_path, :class => "pure-button pure-button-primary" %>
<%= link_to "All Articles", articles_path, :class => "pure-button" %>
</div>