<div class="content">


<%= render "header" %>

<div>
<%= link_to 'New Article', new_article_path, :class => "pure-button pure-button-primary" %>
</div>
<div>
<%= link_to "All Articles", articles_path, :class => "pure-button" %>
</div>
</div>