<%= render "header" %>

<div class="contentbody">

<p>

<b>Email</b>
<br />
contactbrieftoday@gmail.com
<br /><br />

<b>Phone</b>
<br />
12345678

<br /><br />
<b>Social media</b>
<br /><br />
</p>

</div>