<div class="content">

<%= render "header" %>


  <div class="pure-g center" style="padding: em">
    <div class="pure-u-1-2 actualbody">

      <!--Image Grid -->
        <div class="image grid">
          <ul class="caption-style-1">

            <% @articles.each do |article| %>
                <li>
                        <%= image_tag article.image %>
                        <div class="caption">
                                <div class="blur"></div>
                                <div class="caption-text">
                                      <h1>
                                        <%= article.title %>
                                      </h1>
                                </div>
                        </div>
                </li>

            <%end%>

          </ul>


        </div>


    </div>    
  </div>

</div>

