      html, button, input, select, textarea,
      .pure-g [class *= "pure-u"] {
          /* Set your content font stack here: */
          font-family: 'Lora', Georgia, Times, serif;
      }

      h1 {
        font-family: 'Open Sans', sans-serif;
      }

      .content {
        border-top-color: black;
        border-top-width: .5em;
        border-top-style: solid;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
        max-width: 100%;
        text-align: center
      }

      .center {
        text-align: center;
      }

      .contentbody {
        font-family: 'Lora', serif;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1em;
        max-width: 500px;
        text-align: center
      }      

      .articlebody {
        font-family: 'Lora', serif;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2em;
        max-width: 500px;
      }            

      .header {
        padding-top: 2em;
        border-bottom: 1px solid #eee;
        text-align: center;
      }

      .actualbody {
        margin-left: auto;
        margin-right: auto;
      }

      .sansserif {
        font-family: "Open Sans", sans-serif;
      }