      html, body, .content {
        height: 100%;
      }

      body > .container {
        height: auto; min-height: 100%;
      }

      html, button, input, select, textarea,
      .pure-g [class *= "pure-u"] {
          /* Set your content font stack here: */
          font-family: 'Lora', Georgia, Times, serif;
      }

      h1 {
        font-family: 'Open Sans', sans-serif;
      }

      .articlebody {
        font-family: 'Lora', serif;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1%;
        max-width: 480px;
      }

      .content {
        border-top-color: black;
        border-top-width: .5em;
        border-top-style: solid;
        margin: 0 auto;
        padding-top: 1em;
        max-width: 100%;
      }

      .content-wrapper {
        font-family: 'Lora', serif;
        margin: 0 auto;
        padding-top: 1em;
        padding-left: 10%;
        padding-right: 10%;
        max-width: 480px;
        text-align: justify
      }  

      .center {
        text-align: center;
        margin: 0 auto;
      }


      .header {
        padding-top: 2em;
        border-bottom: 1px solid #eee;
        text-align: center;
      }

      .sansserif {
        font-family: 'Open Sans', sans-serif;
      }

  @media (min-width: 560px){
      #footer {
        display: yes ;
        bottom:0;
        position:fixed;
        z-index:150;
        _position:absolute;
        _top:expression(eval(document.documentElement.scrollTop+
            (document.documentElement.clientHeight-this.offsetHeight)));
        height: 10%;
        width: 100%;
        background-color: black;
        opacity: 0.9;
      }

      #footer #text {
        text-align: center;
        font-family: "Open Sans", sans-serif;
        color: white;
        margin-top: 2em;
        font-size: 60%;
      }

/* footer*/

      #footer .icon {
        -webkit-filter: brightness(0.4);
        -moz-filter: brightness(0.4);
        filter: brightness(0.4);

      }

      #footer .icon:hover {
        -webkit-filter: brightness(1);
        -moz-filter: brightness(1);
        filter: brightness(1);
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        transition: all .2s;
      }

  }
/* highlighting */

      *::selection {
      background: #333333;
      color: white;
      }

      *::-moz-selection {
      background: #333333;
      color: white;
      }


      /* error alert */

      #error_explanation {
        color: #f00;
        font-family: "Open Sans", sans-serif;
        ul {
          list-style: none;
          margin: 0 0 18px 8;
        }
      }

      .field_with_errors {
        @extend .control-group;
        @extend .error;
      }

