

h1,h2,h3,h4{
		padding: 0px;
		margin: 0px;
	}

/* position of entire gallery*/

	.caption-style-1{
		list-style-type: none;
		margin: 0px;
		padding: 0px;

	}

/* position of individual image module*/

	.caption-style-1 li{
		float: left;
		padding: 10px;
		position: relative;
		overflow: hidden;
	}

	.caption-style-1 li:hover .caption{
		opacity: 1;

	}


	.caption-style-1 img{
		margin: 0px;
		padding: 0px;
		float: left;
		z-index: 4;
	}


	.caption-style-1 .caption{
		cursor: pointer;
		position: absolute;
		opacity: 0;
		-webkit-transition:all 0.45s ease-in-out;
		-moz-transition:all 0.45s ease-in-out;
		-o-transition:all 0.45s ease-in-out;
		-ms-transition:all 0.45s ease-in-out;
		transition:all 0.45s ease-in-out;

	}

	/*blur size*/
	.caption-style-1 .blur{
		background-color: rgba(0,0,0,0.65);
		height: 150px;
		width: 150px;
		z-index: 5;
		position: absolute;
	}

	/*caption size*/
	.caption-style-1 .caption-text h1{
		text-transform: uppercase;
		font-size: 14px;
	}

	/*caption textbox*/
	.caption-style-1 .caption-text{
		font-family: "Arial";
		z-index: 10;
		color: #fff; 
		position: absolute;
		width: 150px;
		height: 150px;
		text-align: center;
		top: 3em;
	}