/* styling the article index page */

.table thead tr {
	background-color: #DEDEDE ;
}

.table thead tr th {
	padding: 1em;
}

.table tr/*:nth-child(even)*/ {
	background-color: #F5F5F5 ;
	border-bottom-color: white;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.table td {
	padding: 1em;
}

.table tr:hover {
	background-color: white;
}